input {
  display: block;
  width: 360px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid gray;
}
button {
  width: 180px;
  margin: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
}
.first {
  background-color: black;
  color: white;
}

.second {
  background-color: rgb(206, 204, 204);
  color: black;
}
