p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
.first{
    font-weight: bold;
    font-size: 24px;
}
.second{
    color: gray;
    margin-bottom: 24px;
}
.third{
    width: 260px;
    margin-bottom: 24px;
}
button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
}